{%extends 'testapp/homepage.html'%}
{%load static %}
{%block content%}
<div class="container">
  <h2>Student Form</h2>
  <div class="card" style="width: 25rem; margin-top:25px;">
  <div class="card bg-dark text-white">
    <div class="card-body">
      <form class="" method="post">
        <table style="align:center">
          {{form.as_table}}
          {%csrf_token%}
        </table>
        <button type="submit" name="button" class="btn btn-success" style="margin-left:60px">Submit</button>
      </form>
    </div>
  </div>
  <br>
</div>
{%endblock%}
